.WarningMessage {
    color: red;
}

.SinglePost {
    width: 60%;

    padding: 30px;

    margin: 100px auto 0;
    background-color: #fff;
}

.SinglePost h1 {
    text-align: center;
    margin-bottom: 30px;
}
.SinglePost p {
    text-align: center;
    margin-bottom: 30px;
}
.SinglePost span {
    font-style: italic;
}

.Content {
    padding-bottom: 50px;
}