body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

    background-color: #eeeeee;
}

.navbar-default {
  background-color: transparent !important;
}


a {
    transition: all .2s;
}

a:hover {
    color: mediumpurple;
    text-decoration: none;
}

.Highlighted {
    color: mediumpurple;
}