@import "vendor/_reset";

@import "base/_variables";
@import "base/_placeholder";
@import "base/_mixin";

@import "layout/_grid";
@import "layout/_header";
//@import "layout/_footer";

//@import "components/_base-styles";
//@import "components/_button";
//@import 'components/_helper-classes';
//@import 'components/_img';
//@import 'components/_slide-navigation';
//@import 'components/_typography';
//@import 'components/_overlay-image-effect';
//@import 'components/_social';
//@import 'components/_separator';
