.container, .container-wide, .row {
  *zoom: 1;
  clear: both; }
  .container:before, .container-wide:before, .row:before, .container:after, .container-wide:after, .row:after {
    content: " ";
    display: table; }
  .container:after, .container-wide:after, .row:after {
    clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  width: 100%;
  display: inline-block;
  float: left;
  vertical-align: top;
  height: 100%; }

a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%; }
  @media (min-width: 1024px) {
    .container {
      width: 970px;
      margin: 0 auto; } }

.container-wide {
  width: 100%; }

.row {
  width: 100%; }

@media (min-width: 768px) {
  .col-1 {
    width: 8.333333333333332%; } }

@media (min-width: 768px) {
  .col-2 {
    width: 16.666666666666664%; } }

@media (min-width: 768px) {
  .col-3 {
    width: 25%; } }

@media (min-width: 768px) {
  .col-4 {
    width: 33.33333333333333%; } }

@media (min-width: 768px) {
  .col-5 {
    width: 41.66666666666667%; } }

@media (min-width: 768px) {
  .col-6 {
    width: 50%; } }

@media (min-width: 768px) {
  .col-7 {
    width: 58.333333333333336%; } }

@media (min-width: 768px) {
  .col-8 {
    width: 66.66666666666666%; } }

@media (min-width: 768px) {
  .col-9 {
    width: 75%; } }

@media (min-width: 768px) {
  .col-10 {
    width: 83.33333333333334%; } }

@media (min-width: 768px) {
  .col-11 {
    width: 91.66666666666666%; } }

@media (min-width: 768px) {
  .col-12 {
    width: 100%; } }

.navLink {
  background-color: pink; }

body {
  background-color: #ffffff;
  color: #6B493D; }

a {
  color: #6B493D; }
  a:hover {
    color: #6B493D; }

.panel-date {
  margin-top: 30px; }

.panel-author {
  margin-top: 30px; }

.panel-content {
  margin-bottom: 30px; }
